.box{
	width: 75%;
	height:100px;
	margin: 0 auto;
	font-size: 40px;
	text-align: center;
}
img{
	width:300px;
	height:200px;
}
.show-desktop{
	display:block;
}
.show-mobile{
	display: none;
}

@media (max-width: 600px) {
	.show-desktop{
		display: none;
	}
	.show-mobile{
		display: block;
		font-size: 25px;
		font-weight: bold;
		}
	img{
		width: 100%;
		height:auto;
	}
	}
}